.con-post {
  margin: 15px 0;

  .content-post {
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 4px 32px rgba(51, 51, 51, 0.07);
    transition: all 0.6s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
    &:hover {
      transform: translate(0, -10px);
      box-shadow: 0 22px 32px rgba(51, 51, 51, 0.1) !important;
    }
    img {
      min-width: 100%;
      max-width: 100%;
      height: auto;
    }
    .content {
      padding: 24px 30px 60px;
      h2 {
        font-size: 18px;
        line-height: 1.5;
        margin-bottom: 30px;
        a {
          color: $black;
          &:hover {
            color: $main2;
          }
        }
      }
      .entry-post-meta {
        position: absolute;
        bottom: 14px;
      }
    }
  }
}
