.page-content-single{
    display: flex;
    @media #{$md}{
        display: block;
    }
    .page-main-content{
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
        @media #{$md}{
            flex: 0 0 100%;
            max-width: 100%;
        }
        .entry-post-feature{
            margin-bottom: 31px;
            img{
                border-radius:5px;
                max-width: 100%;
                height: auto;
            }
        }
        

        .entry-title{
            font-size: 34px;
            font-weight: 400;
            line-height: 1.42;
            margin: 0 0 16px;
            word-wrap: break-word;
        }
        .entry-footer{
            padding: 30px 15px;
            border-bottom: 1px solid #eeeeee;
            .entry-post-tags{
                color: #ababab;
                .tagcloud-icon{
                    display: inline-block;
                    font-size: 13px;
                    margin-right: 3px;
                    margin-bottom: 0;
                    color: #ccc;
                }
                .tagcloud{
                    display: inline-block;
                    a{
                        color: #ababab;
                        &:hover{
                            color:$main;
                        }
                    }
                }
            }
        }
    }
    .page-sidebar{
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
        @media #{$md}{
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
}


.entry-post-categories{
    margin-bottom: 15px;
    a{
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 2px;
        margin-bottom: 9px;
        color:$main2;
        &:hover{
            color:$main;
        }
    }
}

.entry-post-meta {
    font-size: 14px;
    margin: 0 -8px;
    margin-bottom: 20px;
    a{
        color:#222222;
        &:hover{
            color:$main;
        }
    }
    div{
        display: inline-block;
        padding: 0 8px;
    }
   
}

#author-bio{
    padding: 20px;
    background:#fff;
    border-radius:20px;
    margin: 20px 0px;
    box-shadow: 0 0 40px 5px rgba(51, 51, 51, 0.1);
    display: flex;
    .author-head{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        .links{
            a{
                margin: 3px;
            }
        }
        h2{
            margin: 0;
            a{
                font-size: 21px;
            }
        }
       
    }
    img{
        border-radius: 100%;
        margin-right: 15px;
    }
    p{
        margin-top: 15px;
        font-size: 14px;
    }
   

}