$xxxs: "only screen and (max-width: 320px)";
$xxs: "only screen and (max-width: 568px)";
$xs: "only screen and (max-width: 768px)";
$sm: "only screen and (max-width: 992px)";
$md: "only screen and (max-width: 1200px)";
$lg2: "only screen and (max-width: 1300px)";
$lg: "only screen and (max-width: 1400px)";
$llg: "only screen and (max-width: 1600px)";


// $main: #c3a01b;
$main: #1f328b;
$main2: #c31b1b;
$black: #121213;
$gray: #f5f5f5;
$p: #848484;


