.cta-bl {
  padding: 20px;
  background: #e8e8e8;
  border-radius: 20px;
  margin: 20px 0;
  text-align: center;
  margin-bottom: 30px;
  .title {
    font-size: 24px;
  }
  .but {
    a {
      display: inline-block;
    }
  }
}
